<div class="author author-large">
  <img width="50" height="50" loading="eager" decoding="async" fetchpriority="high" class="author-image author-image-light" src="{{ .Site.Data.author.image | relURL }}" alt="{{ .Site.Data.author.name }}" />
  <img width="50" height="50" loading="eager" decoding="async" fetchpriority="high" class="author-image author-image-dark" src="{{ "images/author-cat-avatar.png" | relURL }}" alt="{{ .Site.Data.author.name }}" />
  <span class="author-name">{{ .Site.Data.author.name }},</span>

<span class="author-title">
    работаю <strong>QA Automation Engineer  </strong> в <a href="{{ .Site.Data.author.companyURL }}" target="_blank" rel="noopener"><strong>Ozon {ech</strong></a>
</span>

</div>

<style>
.author-title {
  white-space: nowrap;
}

@media (max-width: 785px) {
  .author-title {
    white-space: normal;
    padding-top: 10px;
    line-height: 1.5;

  }
}
</style>
